<div class="navbar-container">
  <nav class="navbar d-flex">
    <a class="nav-link p-2" href="/job-overview" role="button" aria-expanded="false">
      <i class="material-icons menu-icon">card_travel</i>
    </a>
    <a class="navbar-brand p-2" href="#">Job marketplace</a>
    <a class="nav-link d-flex ml-auto p-2" href="/profile-page" id="navbarDropdown" role="button" aria-expanded="false">
      <i class="material-icons menu-icon">account_circle</i>
    </a>
  </nav>
</div>
<router-outlet></router-outlet>